# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment variables / Secrets
.env
.env.*
!.env.example

# Node
node_modules/
frontend/dist/
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite database
*.db
*.sqlite
*.sqlite3

# ChromaDB
backend/app/chroma_db/

# Uploaded documents
backend/app/uploads/

backend/app/services/store_chunks*
backend/app/services/store_chunks()